#bookstore {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 60%;
    min-width: 100%;
    margin: 10px;
    padding: 10px;
    overflow: auto;
}

.front-image {
    width: 300px;
    height: 500px;
}

.back-image {
    width: 300px;
    height: 260px;
}

#logoPic {
    width: 50px;
    height: 50px;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 480px;
    perspective: 1000px;
    margin: 30px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 300px;
    height: 500px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;    
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 300px;
    height: 500px;
    backface-visibility: hidden;
  
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
    
}

/* Style the back side */
.flip-card-back {
    background-color: transparent;
    color: black;
    transform: rotateY(180deg);
}


